<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/python-logo-only.png">
    <title>Grunderna i Python</title>

    <!-- Syntax highlighting theme -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/atom-one-dark-reasonable.css">

    <!-- Google fonts -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <!-- Main stylesheet-->
    <link rel="stylesheet" href="css/main.css">

    <!-- Syntax highlighting code -->
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.11/lib/p5.min.js"></script>

</head>

<body>
    <header>
        <a href="index.html" id="logo-link">
            <div id="header-title">
                <div id="logo-container">
                    <img src="img/python-logo-only.png" alt="Python logo">
                </div>
                <h1>Programmering med Python</h1>
            </div>
        </a>
        <nav id="main-nav"></nav>
        <div id="header-icons">
            <div id="focus-toggle" title="Toggle focus mode"><img alt="Focus mode" id="focus-mode-icon" src="img/focus.svg"></div>
            <div id="mode-toggle" title="Toggle light/dark theme"><img alt="Light/dark-mode" id="light-dark-mode" src="img/dark-theme.svg"></div>
            <div id="menu-toggle">☰</div>
        </div>
    </header>
    <div id="wrap">
        <aside id="nav-container">
        </aside>
        <main>
        </main>
    </div>
    <script src="js/main.js"></script>
    <script>hljs.highlightAll();</script>

</body>

</html>